<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloWorldImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sujk2k:8080/CXFWebService-1.0-SNAPSHOT/HelloWorld"
                binding="basicHttpBinding" bindingConfiguration="HelloWorldImplServiceSoapBinding"
                contract="JavaCxFReference.HelloWorld" name="HelloWorldImplPort" />
        </client>
    </system.serviceModel>
</configuration>